<article class="article-intro">
  <a class="article-links" href="{{url}}">
    <section class="article-content">
      <div class="article-image-container">
        <img class="article-image" src="{{image}}" alt="{{imageAlt}}" />
      </div>
      <div class="article-text-content">
        <h1 class="article-title">{{title}}</h1>
        <h3 class="article-date">{{date}}</h3>
        <p class="article-intro-paragraph">{{intro}}</p>
      </div>
    </section>
  </a>
</article>
